@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


body {
	margin: 0;
	padding: 0;
}

.container {
    width: 960px;
    display: block;
    margin: 0 auto;
    overflow:hidden;  
    }

.row {
	display: flex;
	justify-content: center;
}

.container h2 {
	margin-top: 20px;
	}

.hero {
	background: url(images/Coachella.jpg);
	background-size: cover;
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-overlay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.party {
	background: #FFF2E0;
	text-align: center;
	padding: 3em;
}

.sec-3 {
	height: 100vh;
	background: url(images/shapes-background.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-container {
	width: 75%;
	background-color: #333;
	display: flex;
	
}

.card {
	width: 250px;
	text-align: center;
}

.card-text {
	background: #4B76F4;
	padding: 15px;
}

.card-photo {
	width: 100%;
	height: 50vh;
}

.card-photo img{
	height: 100%;
	width: 572px;
	object-fit: cover;
}

.photo-section {
	background: url(images/shapes-background.jpg);
	background-size: cover;
}

.card-photo:nth-child(odd) {
	text-align: right;
}

.flex-row {
     display: flex;
    }

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background:#4B76F4;
        padding: 0 20px;
    }
.logo {
	width: 90px;
	height: 50px;
	padding: 10px;
	display: flex;
	align-items: center;

}

.logo img {
	height: 100%;
	object-fit: contain;
}



    /* Simple Grid - 12 columns 60/20 */

.columns_1 {
	width: 960px;
	float: left;
}

.columns_2 {
	width: 480px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	
}

.columns_3 {
	width: 300px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.columns_4 {
	width: 200px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

h1 {
	font-family: 'Rock Salt', serif;
	font-style: cursive;
	font-weight: 400;
	font-size: 3.5em;
	line-height: 1em;
	color: white;
}

h2{
	font-size: 2em;
	margin: 0 0 20px 0;
	color: #F697FB;
	font-family: 'Bebas Neue', sans-serif;
}

h3 {
	font-size: 1.7em;
	color:#F697FB;
	text-align: center;
	font-family: 'Bebas Neue', sans-serif;
}

h4 {
	font-size: 1em;
	color: black;
	font-weight: 100;
	text-align: center;
	margin: 15px 0;
	font-family: 'Roboto', sans-serif;
}

h5 {
	font-size: .85em;
	margin: 0 0 20px 0;
	font-weight: 100;
	color: black;
	font-family: 'Roboto', medium ;
}

h6 {
	font-size: 1em;
	color: #FFF2E0;
	font-family: 'Roboto', sans-serif;
}



.small-text {
	font-size: .9em;
	font-family:'Roboto', sans-serif;
	color: black;
}



nav {
    height: 50px;
  }

  nav ul {
    display: flex;
    justify-content: right;
  }
  
  nav li {
    list-style: none;
    margin: 0;
  }

  nav a {
    display: block;
    text-decoration: none;
    color: #FFF2E0;
    padding: 0 20px;
  }
  nav a:hover {
    background: #79FBDE;
  }

  .btn{
	text-align: center; 
	padding: 2px 20px;
	background-color: #A2FAD3;
	font-size: 16px;
	font-family: 'Bebas Neue', sans-serif;
	border-radius:4px;
	text-decoration: none;
	cursor: pointer;
	color: #F697FB;
}
.btn:hover{
	background-color: #A2FAD3;
}
img {
 width:100%
	  }

button {
	text-align: center; 
	width: 100px;
	padding: 5px 20px;
	background-color: #A2FAD3;
	font-size: 10px;
	font-family: 'Century Gothic', sans-serif;
	border-radius:4px;
	text-decoration: none;
	cursor: pointer;

}

button a {
	text-decoration: none;
	color: black;
}

button:hover {
	background: #F697FB;
}

.sec-4{
  background-color:#FFF2E0;
  text-align: center;
  padding: 70px;
  display: flex;
		  
 }


 .sec-5 {
	width: 100%;
	height: auto;
	padding: 20px 0 40px 0;
	text-align: left;
	background-color: #FFF2E0;
 }

 .sec-5 p{
	font-size: .9em;
	color: #000;
	font-family: 'Century Gothic', Regular;
	text-align: left;
 }
 .img-tree {
	 height: 200px;
	 width: 250px;
 }
.img-sunset {
	height: 300px;
	width: 500px;
	padding: 50px;
	align-items: center;
}

.footer-bar {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:#4B76F4;
	padding: 0 20px;
}

.copyright{
	width: 100%;
	color: #4B76F4;
}

.copyright p {
	margin-top: 50px;
	margin-bottom: 0;
	text-align: center;
	color: #FFF2E0;
}

.fa-facebook-square,
.fa-twitter-square, 
.fa-instagram {

	font-size: 2em;
	text-align: center;
	margin: 20px 5px 0 15px;
	color:#FFF2E0;
	text-decoration: none;
}

.copyright a:link {
	color: #FFF2E0;
	text-decoration: none;
}

.copyright a:visted {
	color:#A2FAD3;
	
}
.copyright a:hover {
	color:#A2FAD3;
	
}

.copyright a:active{
	color: #A2FAD3;
	text-decoration: none;
}

.hero-shopping {
	background: url(images/models.jpg);
	background-size: cover;
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.waitlist-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.waitlist-buttons .btn {
	margin: 10px;

}
.clothing {
background-color: #FFF2E0;
}

.clothing-text {
	background: #4B76F4;
	padding: 0 15px 15px;
	text-align: center;
}

.clothing-text h2 {
	margin: 0;
}
.clothing img {
	height: 100%;
	width: 300px;
	object-fit: cover;
	background-color:white;
}

.artists {
	background: #FFF2E0;
	text-align: center;
	padding: 3em;
}

.artists img {
	background-size: cover;
	display: flex;
}

.tickets {
	background: #FFF2E0;
	text-align: center;
	padding: 3em;
}

.planning {
	background: #FFF2E0;
	text-align: center;
	padding: 3em;
}

.camping {
	background:#E9F0FA;
	text-align: center;
	padding: 3em;
}